body,
html {
  background-color: white;
  font-family: "Markazi Text", serif;
  margin: 0;
  padding: 0;
}

/* Additional styles for your existing CSS */
/* ... */

/* Style for the booking_main section */
.booking_main {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

h1 {
  font-weight: 600;
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

header {
  background-color: #323232;
  height: 5rem;
  width: 100%;
  text-align: right;
  overflow: hidden;
  position: fixed;
  opacity: 1;
  z-index: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar {
  margin: 0 auto;
  height: 100%;
}

.navbar img {
  float: left;
  height: 100%;
  width: auto;
  padding-left: 2rem;
}

.navbar ul {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.navbar li {
  list-style-type: none;
  display: inline;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 400;
}

.navbar li a {
  font-family: "Markazi Text", serif;
  font-weight: 400;
  text-decoration: none;
}

.navbar li a:link {
  color: #d0604c;
}

.navbar li a:hover {
  color: #ffffff !important;
  text-shadow: 2px 2px 8px #c7f2a4;
}

.navbar li a:active {
  color: #d0604c;
  background-color: #7f8487;
}

.navbar li a:visited {
  color: #d0604c;
}

.sizedbox {
  height: 100px;
}

.input {
  display: flex;
  align-items: center;

  height: 30px;
  width: 250px;
  border-radius: 20px;
  border: 5px solid #d0604c;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  border-radius: 05px;
  border: 1px solid #d0604c;
  margin-left: 50px;
}
